div(data-ng-controller='balanceCtrl as vm').text-center
  table.table.table-bordered
    tbody
      tr(
        data-ng-repeat='balance in vm.balances',
        data-ng-class='{"warning":balance.warning, "danger":balance.danger}'
        )
        td.text-left {{balance.name | uppercase}}
        td.text-right {{balance.balance | money}}
