div(data-ng-controller='mainCtrl as vm')

  nav.navbar-default.navbar-fixed-top
    div.container

      div.navbar-header
        button.navbar-toggle.collapsed(
          type='button',
          data-ng-click='vm.toggleCollapsed()',
          aria-expanded='false',
          aria-controls='navbar'
          )
          span.sr-only Toggle nav
          span.icon-bar
          span.icon-bar
          span.icon-bar

        div.navbar-brand {{vm.group.name | uppercase}}

      #navbar.navbar-collapse.collapse(collapse='vm.collapsed')
        ul.nav.navbar-nav(data-ng-click='vm.collapsed = true')
          li(data-ui-sref-active='active')
            a(data-ui-sref='main.balances') Balances
          li(data-ui-sref-active='active')
            a(data-ui-sref='main.save') Save expense
          li(data-ui-sref-active='active')
            a(data-ui-sref='main.history') Expense history
        ul.nav.navbar-nav.navbar-right
          li(data-ng-click='vm.logout()')
            a(href='#') Logout

  // make an element as is a CHILD VIEW
  // https://stackoverflow.com/questions/28594627/nested-ui-view-not-being-populated#comment45495916_28594627
  ui-view
